@model IVS.Models.Model.CategoryModel

@{
    ViewBag.Title = "Add Category";
}
<div class="headerTitle">
    <ul class="crumbs2">
        <li>@Html.ActionLink("Home", "Index", "Home", null, new { })</li>
        <li>@Html.ActionLink("Category", "Index", "Category", null, new { })</li>
        <li>Add New Category</li>
    </ul>
</div>

@if (!String.IsNullOrEmpty((string)TempData["Error"]))
{
    <div id="error" class="error">
        @TempData["Error"]
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="lblRequirement">* Indicates required fields</div>
    <table class="form-horizontal inputForm">
        <colgroup>
            <col class="col-md-1" />
            <col class="col-md-6" />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <td class="pull-right">
                    @Resources.Resource.Category_lblCode
                    <label class="lblRequirement">*</label>
                </td>
                <td>
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td class="pull-right">
                    @Resources.Resource.Category_lblName
                    <label class="lblRequirement">*</label>
                </td>
                <td>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td class="pull-right">
                    @Resources.Resource.Category_lblParent_Name
                </td>
                <td>
                    @Html.DropDownListFor(m => m.parent_id, (SelectList)ViewBag.Parent, new
               {
                   @class = "form-control input-sm selectpicker",
                   @id = "ParentID"
               })
                </td>
            </tr>
            <tr>
                <td class="pull-right">
                    @Resources.Resource.Category_lblDescription
                </td>
                <td>
                    @Html.TextAreaFor(m => m.description, new { @class = "form-control input-sm", maxlength = "256", @style="height: 125px;" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ActionLink("Back to List", "Index", "Category", new { }, new { @class = "btn btn-sm btn-default" })
                    <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>

}


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#code').focus();
        });


    </script>
}