@model Tuple<IVS.Models.Model.SearchItemModel, IPagedList<IVS.Models.Model.ItemDisplayModel>>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Item";
    int num = Convert.ToInt32(ViewBag.page) * 15;
}

<div class="headerTitle">
    <ul class="crumbs2">
        <li>@Html.ActionLink("Home", "Index", "Home", null, new { })</li>
        <li>Item</li>
    </ul>
</div>
@if (!String.IsNullOrEmpty((string)TempData["Success"]))
{
    <div id="success" class="success">
        @TempData["Success"]
    </div>
}
@if (!String.IsNullOrEmpty((string)TempData["Error"]))
{
    <div id="error" class="error">
        @TempData["Error"]
    </div>
}
@if (!String.IsNullOrEmpty((string)TempData["CountResult"]))
{
    <div class="success">
        @TempData["CountResult"]
    </div>
}
<hr />
@using (Html.BeginForm("Index", "Item", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="search" style="margin-top: 20px;">
        <div class="row">
            <form class="form-inline">
                <div class="form-group col col-md-3">
                    @Html.TextBox("code", Model.Item1.code, new { @class = "form-control", @placeholder = "Code" })
                </div>
                <div class="form-group col col-md-3">
                    @Html.TextBox("name", Model.Item1.name, new { @class = "form-control", @placeholder = "Name" })
                </div>
                <div class="form-group col col-md-3">
                    @Html.DropDownList("category_id", new SelectList(ViewBag.lstcombobox, "id", "name"), "--- Select category ---", new { @class = "form-control" })
                </div>
                <div class="form-group col col-md-3">
                    <input class="btn btn-success" value="Search" type="submit" />
                </div>
            </form>
        </div>
    </div>

}
<hr />
<div class="btn-action" style="margin-bottom: 20px; margin-top: 20px">
    <ul class="float-left" style="margin-bottom:10px;">
        <li>
            @Html.ActionLink("Add", "Add", "Item", new { }, new { @class = "btn btn-success btn-sm", style = "width: 58px;" })
        </li>
        <li>
            <button class="btn btn-danger btn-sm" id="Remove_items" url="@Url.Action("Delete", "Item")">Delete</button>
        </li>
    </ul>
</div>
<div class="table-responsive " id="divLis">

    <table class="table table-bordered table-hover tableData">
        <tr class="headerTable" style="background-color: #0094ff; color: white;">
            <th><input type="checkbox" name="checkAll" /></th>
            <th>No</th>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Category Name
            </th>
            <th>
                Specification
            </th>
            <th>
                Description
            </th>
            <th>
                Dangerous
            </th>
            <th>
                Action
            </th>
        </tr>
        @if (ViewBag.ListSearch != null)
        {
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" name="check" value="@item.id" />
                        </td>
                        <td style="text-align:right">
                            @{ num++;}
                            <a href="@Url.Action("View", "Item", new { @id = item.id }, null)">@num</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.specification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td style="text-align: center">
                            @if (item.dangerous == 1)
                            {
                                <img src="~/Images/icon.jpg" style="height:20px; width:20px;"/>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Item", new { id = item.id })" title="Edit"><span class="glyphicon glyphicon-edit btn-update"></span></a>
                        </td>
                    </tr>
                                }
            </tbody>
                                }
    </table>
    @if (ViewBag.ListSearch != null)
    {
        @Html.PagedListPager((IPagedList)Model.Item2, page => Url.Action("Index", new { page }))
    }
</div>
@section Scripts {
    <script src="~/Scripts/bootbox.min.js"></script>
    <script>
        function Xoa(ID) {
            bootbox.confirm({
                size: "small",
                message: "Do you want to delete?",
                callback: function (result) {
                    if (result == true) {
                        tr = $(this).parents("tr");
                        $.ajax({
                            method: 'POST',
                            url: '/Measure/Delete',
                            data: { id: ID },
                            success: function (Success) {
                                if (Success.Message != null) {
                                    tr.hide(1000);
                                    bootbox.alert({
                                        message: "Delete successfully!",
                                        size: 'small'
                                    });
                                    location.reload();
                                }
                                else {
                                    bootbox.alert({
                                        message: "Unsuccessfully!",
                                        size: 'small'
                                    });
                                }

                            }
                        })
                    }
                }
            });
        };
    </script>
    <script>
        $(document).ready(function () {
            //remove click
            $(document).delegate("#Remove_items", "click", function (e) {
                e.preventDefault();

                var url = $(this).attr('url');
                var chk = document.getElementsByName("check");
                var data = [];
                for (var i = 0; i < chk.length; i++) {
                    if (chk[i].checked) {
                        data.push(chk[i].value);
                    }
                };
                if (data.length <= 0) {
                    bootbox.confirm({
                        size: "small",
                        message: "Please select items!",
                        callback: function (result) {
                            return true;
                        }
                    });
                }
                else {
                    bootbox.confirm({
                        size: "small",
                        message: "Do you want to delete?",
                        callback: function (result) {
                            if (result == true) {
                                $.ajax({
                                    url: url,
                                    type: "post",
                                    async: false,
                                    data: {
                                        "id": data
                                    },
                                    success: function (f) {
                                        location.reload();
                                    }
                                });
                            } else {
                                return true;
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("input[name='checkAll']").click(function () {
                var checked = $("input[name='checkAll']").prop("checked");
                $("input[name='check']").prop("checked", checked);
            });
        });
    </script>
}